@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< Updated upstream
    <h1 class="display-4">TOP2000</h1>
    <p>
        
    </p>
=======
    <h1 class="display-4">Welkom bij <img src="~/img/top2000_logo.svg" alt="TOP2000 logo" width="auto" height="35"></h1>
    <p><a href="https://localhost:5001/Artists">Klik hier om verder te gaan</a>.</p>
>>>>>>> Stashed changes
</div>
